.mat-toolbar {
    background-color: #6892A2;
}

nav > a {
    padding: 5px;
    text-decoration: none;
    color:white;
}

nav > a.active {
    background-color: white;
    color: black;
}
.header-row{
    width: 100%;
}
