<footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="box">
            <h3>CLinical GAP:</h3>
            <ul>
              <li>                
                  Best Specialists
              </li>
              <li>                
                  Full Compliance
              </li>
              <li>               
                Odontology, Pediatrics, Neurology, General Medicine
              </li>
            </ul>
          </div>
        </div>        
      </div>
    </div>
  </footer>
                               

