<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Fill the next Form to Created a new Appointment for a Patient</mat-card-title>           
        </mat-card-header>
        <mat-card-content>            
            <div class="row">
                <mat-form-field>
                    <mat-label>Patients</mat-label>
                    <mat-select [(ngModel)]="patientNameSelected" [formGroup]="patientsNames" multiple formControlName="PatientId" >                         
                      <mat-option *ngFor="let patientName of patientsNames" [value]="patientName">{{patientName}}</mat-option>
                    </mat-select>
                  </mat-form-field>                               
            </div>
            <div class="row">               
                <mat-form-field>
                    <mat-label>Appointment Types</mat-label>
                    <mat-select [(ngModel)]="appointmentTypeSelected" [formGroup]="apointmentsTypes" multiple formControlName="appointmentType">                                                                       
                        <mat-option *ngFor="let appointmentType of apointmentsTypes" [value]="appointmentType">{{appointmentType}}</mat-option>
                    </mat-select>
                </mat-form-field>                                 
            </div>

            <div class="row">
                <mat-form-field>
                    <mat-label>Choose an Appointment date</mat-label>
                    <input [(ngModel)]="appointmentDate" matInput [matDatepicker]="picker" formControlName="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>                             
        </mat-card-content>
        <mat-card-actions>
           <button [disabled]="form.invalid" mat-raised-button type="submit">Save</button> 
        </mat-card-actions>
    </mat-card>   
</form>
